/* =The style for the lab
-------------------------------------------------------------- */
hr {
    height:1px;
    border:none;
    background-color:rgb(220,220,220)
}

.answer {
    display:none;
}

h2 {
    line-height:24px;
    font-size:18px;
    font-weight:700;
    color:rgb(100,150,200);
    padding-left:24px;
    cursor:pointer;
    background-image:url('../img/open.png');
    background-position:left;
    background-repeat:no-repeat;
}

h2.close {
    background-image:url('../img/close.png');
}