<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.TechPlug.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Jan 2015 10:25:14 GMT -->
    <head>
        <title>Physio - Women Health Physio Clinic</title>
        <script src="http://maps.googleapis.com/maps/api/js">
        </script>

        <script>
            var myCenter = new google.maps.LatLng(31.545050, 74.340683);

            function initialize() {
                var mapProp = {
                    center: myCenter,
                    zoom: 5,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                var marker = new google.maps.Marker({
                    position: myCenter,
                });

                marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <script type="text/javascript">
            function MM_swapImgRestore() { //v3.0
                var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
            }
            function MM_preloadImages() { //v3.0
                var d = document; if (d.images) {
                    if (!d.MM_p) d.MM_p = new Array();
                    var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                        if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
                }
            }

            function MM_findObj(n, d) { //v4.01
                var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                    d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
                }
                if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
                for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
                if (!x && d.getElementById) x = d.getElementById(n); return x;
            }

            function MM_swapImage() { //v3.0
                var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
                    if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
            }
        </script>
        <noscript>
            TechPlug is an Online Clinic service for students across the world.
            <a href="www.TechPlug.html">Learn more about TechPlug.</a>
        </noscript>

        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="TechPlug.com is an Online Clinic service for students across the world.">
        <meta name="keywords" content="TechPlug, TechPlug, TechPlug, tutor, online, learn, pakistan, physics, chemistry, maths, english, tution, O level, igcse, a level, federal
">
        <link rel="image_src" href="../oi57.tinypic.com/2ith05g.gif" />
        <meta property="og:image" content="http://oi57.tinypic.com/2ith05g.jpg" />
        <meta property="og:title" content="TechPlug" />
        <meta property="og:description" content="TechPlug.com is an online TechPlug service for students around world. We offer subjects ranges from IGCSE, O level to A levels, Federal Board. Register on our website, so TechPlug can find you best suited tutor." />
        <!-- player skin -->
        <link rel="stylesheet" type="text/css"
              href="../releases.flowplayer.org/5.5.0/skin/minimalist.css">
        <!-- tool tip -->
        <style>
        /* site specific styling */
            body {
                font: 12px "Myriad Pro", "Lucida Grande", "Helvetica Neue", sans-serif;
                text-align: center;
                padding-top: 1%;
                color: #999;
                background-color: #ffffff;
            }

            /* custom player skin */
            .flowplayer {
                width: 80%;
                background-color: #222;
                background-size: cover;
                max-width: 1280px;
                position: relative;
                top: 70px;
            }

            .flowplayer .fp-controls {
                background-color: rgba(255, 248, 232, 1);
            }

            .flowplayer .fp-timeline {
                background-color: rgba(255, 255, 255, 1);
            }

            .flowplayer .fp-progress {
                background-color: rgba(255, 185, 56, 1);
            }

            .flowplayer .fp-buffer {
                background-color: rgba(255, 237, 166, 1);
            }
        </style>

        <!-- flowplayer depends on jQuery 1.7.1+ -->
        <script src="~/code.jquery.com/jquery-1.10.2.min.js"></script>

        <!-- flowplayer javascript component -->
        <script src="releases.flowplayer.org/5.5.0/flowplayer.min.js"></script>
        <meta name="author" content="Syed Osaid Haq">    <!-- Favicon-->
        <meta content="revealTrans(Duration=5.0,Transition=7)" http-equiv="Page-Enter">
        <meta content="revealTrans(Duration=5.0,Transition=6)" http-equiv="Site-Enter">
        <link rel="shortcut icon" href="~/favicon.ico" />
        <!-- Font Awesome -->
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <!-- Camera -->
        <link href="~/css/camera.css" rel="stylesheet">
        <!-- Template  -->
        <link href="~/css/templatemo_style.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .auto-style1 {
                margin-right: 0px;
            }

            .auto-style2 {
                color: #9FB038;
            }

            .auto-style5 {
                color: #27B6EA;
            }

            .auto-style7 {
                display: block;
                max-width: 100%;
            }

            .auto-style8 {
                font-size: large;
                color: #FFFFFF;
            }

            .auto-style9 {
                font-size: large;
            }

            .auto-style10 {
                color: #947878;
            }

            .newStyle1 {
                font-family: "Century Gothic";
                color: #000000;
            }

            .newStyle2 {
                font-family: "Century Gothic";
                color: #000000;
                font-variant: normal;
                background-color: #FFFFFF;
            }

            .auto-style11 {
                position: relative;
                min-height: 1px;
                float: left;
                width: 33.33333333%;
                text-align: left;
                padding-left: 15px;
                padding-right: 15px;
            }

            .auto-style12 {
                font-size: xx-large;
            }
        </style>
        <!-- Start WOWSlider.com HEAD section -->
        <link rel="stylesheet" type="text/css" href="~/engine1/style.css" media="screen" />
        <script type="text/javascript" src="~/engine1/jquery.js"></script>
        <!-- End WOWSlider.com HEAD section -->

    </head>
    <body>
        
        <div id="content">
            @RenderSection("featured", required: false)

            @RenderBody()

        </div>
        <div id="templatemo_footer">
            <div>
                <p id="footer"></p>
            </div>
        </div>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.singlePageNav.min.js"></script>
        <script src="~/js/unslider.min.js"></script>
        <script src="~/js/templatemo_script.js"></script>
    </body>

<!-- Mirrored from www.etutionhub.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Jan 2015 10:25:46 GMT -->
</html>